main {
  max-width: 800px;
  
 
}

img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-left: 40px
}

aside {
  background: #001F3F;
  color: #FF851B;
  width: 300px;
  
}

h1 {
  font-family: 'Baloo Tamma 2', cursive;
  margin: 0;
 
}

p {
  font-family: 'Roboto', sans-serif;
}

.divider { 
  background: orange;
  height: 3px;
}

section {
 

}